services:
  db:
    image: postgres:18
    environment:
      POSTGRES_USER: tedawards
      POSTGRES_PASSWORD: tedawards
      POSTGRES_DB: tedawards
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql

volumes:
  pgdata:
